@charset "UTF-8";
* {font-family: Arial, Helvetica, sans-serif;}
html,
body 
{ background-color:rgba(38, 43, 54, 0.9);
 width:100%;

 }

h1{color: black;
   margin: 0;
   font-weight: 500;
   text-align: center;
  font-weight: 700;
  
}
 
.box{ 
   background-color: red;
  
   margin: auto;
  border-color: black;
  display: flex-end;
   
  }
.diviframe { 
    background-color: gray;
    width: 991px;
    height: 480px;
    margin:auto;
   
    
  
}
  .googledrive{ 
   width: 100%;
   height:100%;
   margin:auto;
   
   
  
  
   
}
  
 
