@charset "UTF-8";
* {font-family: Arial, Helvetica, sans-serif;

}
html, body { 
            background-image: url(https://intranet.cbmerj.rj.gov.br/images/bg3.jpg);
            background-size: cover;
            height: 100%;
            margin: 0px;
        }
h1{color: #259dab;
   margin: 0;
   font-weight: 500;
   text-align: center;
}
.sombra{
          background-color: rgba(0, 0, 0, 0.623) ;
          width: 100%;
          height: 100%;
    
}

 .login { 
       text-align: center;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%, -50%);
       width: 400px;
       background-color: rgba(38, 43, 54, 0.9);
       
   }
.captcha {
    background-color: rgba(8, 8, 8, 0.918);
    width: ;
    text-align: justify;
    color:aliceblue;
    margin: auto;
    border-color: darkgray;
    border-style: solid;

}

.acessar{
    background-color: rgb(32, 129, 129);
    width: 300px;
    text-align: center;
    color:aliceblue;
    margin: auto;
    
    ;}
    a{ color: white;}